body {
    background-image: url(back.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.box1 {
    width: 289px;
    position: absolute;
    height: 103px;
    bottom: 168px;
    left: 43px;
}
