body {
    background-image: url(Untitled-3.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.box1 {
    width: 289px;
    position: absolute;
    height: 103px;
    bottom: 100px;
    left: 50px;
}
.footer {
       width: 1080px;
       position: absolute;
       bottom: -10px;
       background-color: #191c24;  
}
